* {
  /* border: 2px solid red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e0f2fe;
}

header {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-image: url(./images/header_background.jpg); */
  background-color: #38bdf8;
}

.head-line {
  font-size: 64px;
  color: white;
  font-weight: 900;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 20vw;
  min-width: 300px;
  height: 24px;
  /* justify-content: start; */
  gap: 8px;
  padding-right: 4px;
  padding-left: 0;
  background-color: #e0f2fe;
  border-radius: 5px;
}

.search-bar img {
  height: 24px;
  width: 20px;
}

.search-bar img:hover{
    cursor: pointer;
}

.search-bar .search-location{
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding-left: 4px;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s ease-in-out;
}

.search-bar .search-location:hover{
    cursor: text;
    border: 1px solid #0284c7;
}

main {
  height: 65vh;
}
